.item1 { grid-area: header;}
.item2 { grid-area: menu;}
.item3 { grid-area: main;}
.item4 { grid-area: right; }
.item5 { grid-area: footer;}
.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main right menu'
    'footer footer footer footer';
    background-color: rgb(46, 133, 139);
    padding: 10px;
    gap: 10px;
}
/*Cosume del grid-container a sus hijos a través del DIV*/
.grid-container > div {
  background-color: seagreen;
  /*Texto adentro del DIV*/
  text-align: center;
  /*Texto de las letras en un color específico*/
  color: azure;
  padding: 20px 0;
  font-size: 30px;
  height: 400px;
}