.flex-container{
    display: flex;
    background-color: dodgerblue;
    /*Para modificar la posición de los hijos en columna
    flex-direction: column;*/
    /*Manipulación de hijo con columna inversa
    flex-direction: column-reverse;
    flex-direction: row-reverse;*/

    /*Posiciones centro
    justify-content: center;
    */

    /*Posición inicio
    justify-content: flex-start;*/

    /*FLEX END
    justify-content: flex-end;
    flex-direction: row;*/

    /*SPACE BETWEEN*/
    justify-content: space-around;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/*Segundo contenedor*/
.flex-container2{
    display: flex;
    background-color: dodgerblue;
    margin-top: 20px;
    flex-wrap: wrap-reverse;
}

.flex-container2 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}